$color-white: #fff;
$color-black:#0e0d0d;
$color-blue-light: #59b4d2;
$color-blue-white: #9bcbf0;
$color-gray: #808080;
$color-rad: #da1515;
$color-blue-dark: #1f1a40;
$color-blue-black: #313150;
$color-orange: #d29231;
