@import './../../styles/colors.scss';

.container {
  min-width: 100vw;
  min-height: 100vh;

  .header {
    width: 100%;
    height: auto;
  }

  .lightHeader {
    background-color: $color-blue-light;
  }

  .darkHeader {
    background-color: $color-blue-dark;
  }

  .main {
    max-width: 100%;
  }
}

.light {
  background-color: $color-blue-white ;
}

.dark {
  background-color: $color-blue-black;
}
