@import './../../styles/colors.scss';

.container {
  min-width: 100vw;
  min-height: 100vh;

  .header {
    width: 100%;
    background-color: $color-blue-light;
    height: auto;
  }

  .main {
    max-width: 100%;
    background-color: $color-white;
  }
}
